<html>
<head>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/formulario.css">
    <link rel="stylesheet" href="./css/jquery-ui.css">
    <script src='./js/jquery-3.1.1.min.js'></script>
    <script type="text/javascript" src='js/bootstrap-modal.js'></script>
    <script src="./js/jquery-ui.js"></script>
    <script type="text/javascript" src='js/funciones.js'></script>
</head>
<body>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Búsqueda del  Interno:</h3>
    </div>
    <div class="modal-body">
         <form class="expediente" id='expediente' name='busqueda' method="POST" action="javascript:;">
            <input type="text" id="buscar" class="form-control" placeholder="Buscar" required autofocus>
        </form>
     
        <div id='clientes'>
             <!--No se encontraron Resultados ! 
             <ul id='lista'>
                 <li>
                     <a href='javascript:ocultar("Lauro Gonzalez");' id="interno"> 
                     <img src='../web/imagenes/min/usuarios.png'>  </a>
                 </li> 
             </ul>-->
        </div>
    </div>
    </div>
</div>
</div>
</body>    
</html>